.techs {
    background-color: #F5F5F5;
    padding: 103px 70px 83px;
    box-sizing: border-box;
}

.techs__caption {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    margin-bottom: 14px;
}

.techs__wrap {
    display: flex;
    padding-top: 80px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.techs__header {
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    margin: 0;
}

.techs__text{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.04em;
    width: 460px;
    margin-top: 26px;
    margin-bottom: 85px;
}