.promo {
    display: flex;
    flex-direction: row;
    background-color: #F3C1F8;
    min-height: 574px;
    padding: 75px 70px 0 70px;
    justify-content: space-between;
    box-sizing: border-box;
}

.promo__wrap {
   display: flex;
   flex-direction: column;
   max-width: 640px;
}

.promo__header {
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    margin: 0;
}

.promo__text {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    max-width: 310px;
    opacity: .5;
    margin: 36px 0 146px;
}

.promo__button {
    width: 129px;
    height: 36px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    border-radius: 3px;
    border:1px solid rgba(0, 0, 0, .6);
    background-color: #F3C1F8;    
    transition: opacity 0.3s ease-out;
}

.promo__button:hover {
    opacity: .6;
    cursor: pointer;   
}

.promo__image {
    width: 310px;
    height: 304px;
}

@media screen and (min-width:900px) and (max-width:1090px) {
    .promo {
        padding: 141px 30px 76px 30px;
    }

    .promo__image {
        margin-top: -53px;
    }    
}

@media screen and (min-width:540px) and (max-width:899px) {
    .promo {
        padding: 141px 44px 76px 44px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .promo__header {
        font-weight: 400;
        font-size: 40px;
        line-height: 50px;
    }

    .promo__wrap {
        align-items: center;
        text-align: center;
        padding: 48px 30px 0;
        box-sizing: border-box;
    }

    .promo__text {
        max-width: 260px;
        margin: 21px 0 92px;
    }
}

@media screen and (min-width:320px) and (max-width:539px) {
    .promo {
        padding: 70px 55px 32px 55px;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .promo__wrap {
        align-items: center;
    }

    .promo__header {
        font-size: 27px;
        line-height: 38px;
        margin-top: 44px;
    }

    .promo__text {
        margin:  24px 0 80px;
        max-width: 260px;
    }   

    .promo__image {
        width: 210px;
        height: 206px;
    }
}