.promo {
    display: flex;
    flex-direction: row;
    background-color: #F3C1F8;
    min-height: 574px;
    padding: 75px 70px 0 70px;
    justify-content: space-between;
    box-sizing: border-box;
}

.promo__wrap {
   display: flex;
   flex-direction: column;
   max-width: 640px;
}

.promo__header {
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    margin: 0;
}

.promo__text {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    max-width: 310px;
    opacity: .5;
    margin: 36px 0 146px;
}

.promo__button {
    width: 129px;
    height: 36px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    border-radius: 3px;
    border:1px solid rgba(0, 0, 0, .6);
    background-color: #F3C1F8;    
    transition: opacity 0.3s ease-out;
}

.promo__button:hover {
    opacity: .6;
    cursor: pointer;   
}

.promo__image {
    width: 304px;
    height: 310px;
}