.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin__label {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
    width: 100%;
}

.signin__input {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    min-height: 46px;
    background-color: #F9F9F9;
    border-radius: 8px;
    width: 100%;
    border: none;
    outline: none;
    margin: 14px 0;
    padding: 0 15px;
    box-sizing: border-box;
}

.signin__error {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #FF4062;
    visibility: hidden;
}

.signin__error_type_active {
    visibility: visible;
}

.signin__button {
    width: 396px;
    height: 45px;
    background-color: black;
    color: white;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-top: 61px;
    transition: opacity 0.3s ease-out;  
}