.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.not-found__error {
    font-weight: 400;
    font-size: 140px;
    line-height: 169px;
    margin-bottom: -11px;
}

.not-found__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 184px;
}

.not-found__back-button {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: none;
    background-color: transparent;
    transition: opacity .3s ease-out;
}

.not-found__back-button:hover {
    cursor: pointer;
    opacity: .6;
}

@media screen and (min-width:320px) and (max-width:540px) {
    .not-found__error {
        font-size: 80px;
        line-height: 97px;  
        margin-bottom: -2px;
    }

    .not-found__text {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 283px;
    }

    .not-found__back-button {
        font-size: 12px;
        line-height: 15px;
    }
}

